@page "/"

<div class="container-fluid">
    <div style="background-image: url(/Images/158535-OYHJDH-463.jpg); background-size: cover; height:100vh;">
        <div class="bg-light bg-opacity-75 border border-3 border-secondary rounded-3 p-5 mx-5 text-black shadow" style="height:100%">
            <h1>Welcome</h1>
            <hr/>
            <div class="">
            <p>
                Our online e-commerce platform for computer hardware! Here, you will find everything you need to build and upgrade your own custom computer. Our platform not only offers a wide variety of computer hardware and related products, but also provides guidance and suggestions to help you make the best purchasing decisions for your budget.
            </p><p>
                Our platform is designed to be more than just an online store. We understand that building a custom computer can be a daunting task, especially for those who are new to the world of computer hardware. That's why we offer an automatic compatibility guide that limits your choices to parts that are known to be compatible with each other, and alerts you if you select incompatible parts. This helps ensure that you get the right parts for your custom build and prevents any potential compatibility issues.
            </p><p>
                Furthermore, our platform is updated with the latest pricing information for every component, from the CPU to the Cabinet, so you can make informed decisions about which parts to buy. Our compatibility guidance and pricing information are there to help you make the most of your budget and build the computer of your dreams.
            </p><p>
                We also offer a user/enthusiast forum where you can connect with other computer enthusiasts and discuss products and give open feedback. Whether you're a seasoned expert or a beginner, our forum is the perfect place to share knowledge, ask questions, and get advice from other members of the community.
            </p><p>
                Overall, we are committed to providing the best possible experience for our customers. We hope you enjoy browsing our selection of computer hardware and related products, and that you find our compatibility guidance, pricing information, and user forum to be helpful resources in your quest to build the ultimate custom computer.

            </p>
            </div>
        </div>
    </div>
</div>
