@page "/login"

<section class="mx-5 p-5">
    <div class="container-fluid h-custom m-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 p-5 shadow-lg rounded" style="height:100%; border: dashed thin purple">
                <EditForm Model="SignInRequest" OnValidSubmit="LoginUser">
                    <!-- Email input -->
                    <div>
                        <h3>Sign In</h3>
                        @if (ShowLoginError)
                        {
                            <p>@Error</p>
                        }
                    </div>
                    <hr />
                    <div class="form-outline mb-4">
                        @*<label class="form-label" for="form3Example3">Email address</label>*@
                        <InputText @bind-Value="SignInRequest.UserName" class="form-control form-control-lg" placeholder="Email address" />
                        <ValidationMessage For="(()=> SignInRequest.UserName)"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        @*<label class="form-label" for="form3Example4">Password</label>*@
                        <InputText @bind-Value="SignInRequest.Password" type="password" class="form-control form-control-lg" placeholder="Enter password" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a href="register" class="link-danger">Register</a>
                        </p>
                    </div>

                </EditForm>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-6 ms-5 ">
                <img src="/Images/5052628.jpg" class="img-fluid" alt="Sample image">
            </div>
            
        </div>
    </div>
</section>
