<div>
    <h4 class="text-primary pt-3"> Another child component</h4>
    <input id="name" @attributes="InputAttributes"/>

</div>

@code{
    //[Parameter]
    //public string placeholder { get; set; } = "initial Text";

    //[Parameter]
    //public string maxlength { get; set; }

    //[Parameter]
    //public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    //{
    //    {"required", "required" },
    //    {"placeholder", "Enter name"},
    //    {"maxlegth", 5}
    //};

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>();
}